<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.repository.mapper.LotteryMapper">
	<resultMap id="LotteryOrder" type="com.pojo.entity.LotteryOrder" />
	<resultMap id="BetResultResponse" type="com.pojo.dto.BetResultResponse" />

	<insert id="insertBetLottery" useGeneratedKeys="true" keyProperty="id" parameterType="LotteryOrder">
		INSERT INTO
		LOTTERY_ORDER(
		    ID,
			LOTTERY_ID,
			ISSUE_CODE,
			USER_ID,
			MULTIPLE,
			BET_NUMBER,
			ORDER_TIME,
			RESULT,
		    REDEEM
		) VALUES(
		    #{id},
			#{lotteryId},
			#{issueCode},
			#{userId},
			#{multiple},
			#{betNumber},
			#{orderTime},
			#{result},
		    #{redeem}
		)

	</insert>

	<insert id="insertDrawResult" useGeneratedKeys="true" keyProperty="id" parameterType="DrawResult">
		INSERT INTO
			DRAW_RESULT(
			ID,
			LOTTERY_ID,
			ISSUE_CODE,
			DRAW_NUMBERS,
			SALE_TIME,
			OPEN_DRAW_TIME
		) VALUES(
			#{id},
			#{lotteryId},
			#{issueCode},
			#{drawNumbers},
			#{saleTime},
			#{openDrawTime}
		)

	</insert>

	<select id="showLotteryOrderNotRedeem" resultMap="BetResultResponse">
		SELECT
		    o.USER_ID AS userId,
			o.LOTTERY_ID AS lotteryId,
			o.ISSUE_CODE AS issueCode,
		    o.MULTIPLE AS multiple,
		    o.BET_NUMBER AS betNumber,
		    r.DRAW_NUMBERS AS drawNumbers,
			r.SALE_TIME AS saleTime,
		    r.OPEN_DRAW_TIME AS openDrawTime,
		    o.RESULT AS result
		FROM
			LOTTERY_ORDER o
		INNER JOIN DRAW_RESULT r
		ON o.ISSUE_CODE = r.ISSUE_CODE
		WHERE
			o.USER_ID = #{userId} AND o.REDEEM = 0
	</select>

	<select id="findLotteryOrderNotRedeem" resultMap="LotteryOrder">
		SELECT *
		FROM
			LOTTERY_ORDER
		WHERE
			USER_ID = #{userId} AND REDEEM = 0
	</select>

	<update id="updateDrawResult">
		UPDATE DRAW_RESULT
		SET DRAW_NUMBERS = #{drawNumbers},
		    OPEN_DRAW_TIME = now()
		WHERE ISSUE_CODE = #{issueCode}
	</update>

	<update id="checkBetLottery">
		UPDATE LOTTERY_ORDER
		SET RESULT = #{result}
		WHERE ID = #{id}
	</update>

	<update id="updateRedeem">
		UPDATE LOTTERY_ORDER
		SET REDEEM = 1
		WHERE ID = #{id}
	</update>

</mapper>